<!DOCTYPE html>
<html lang="en">
    <!-- header -->
    <%- include("partials/header.ejs") %>
  <body>
    <!-- sidebar -->
    <%- include("partials/sidebar.ejs") %>
    <main id="edit-page">
      <h1>Edit Posts</h1>
      <!-- showing post titles -->
      <%if (locals.posts) { %>
      <ul>
        <% for(post of posts) { %>
            <li >
                <span><a href="/<%= post["id"] %>"><%= post["title"] %></a></span>
                <!-- <a id="edit-btn" href="/edit/<%= post["id"] %>" >modify</a> -->
                <form class="inline-forms" action="/edit/<%=post.id%>">
                  <button class="btn" type="submit ">edit</button>
                </form >
                <form action="/delete/<%=post.id%>?_method=DELETE" method="post" class="inline-forms">
                  <button class="btn" type="submit" onclick='return confirm("Are you sure you want to delete this post?")'>delete</button>
                </form>
            </li>
            
        <% } %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
